{% extends 'base.html.twig' %}

{% block body %}
    {% for category in postCategories %}
        <h1>{{ category.title }}</h1>
        <ul>
            {% for post in category.posts %}
                <li>{{ post.title }}</li>
            {% endfor %}
        </ul>
    {% endfor %}

    <hr>

    {% for post in posts %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.context }}</p>
        <p>Date de création : {{ post.dateCreated|date('d/m/Y') }}</p>
        <p>{{ post.category != null ? post.category.title : 'vide'}}</p>
    {% endfor %}

{% endblock %}

{% block title %}

{% endblock %}

